.customize {
  position: relative;

  @include respond(phone) {
    display: none;
  }

  &__close {
    position: absolute;
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    @include respond(phone) {
      display: block;
    }
  }
  &__toggle {
    width: 100%;

    button {
      width: 90%;
    }
  }
}
