.video {
  height: 40rem;
  @include respond(tab-port) {
    height: 28rem;
  }

  iframe {
    height: 100%;
    width: 100%;

    @include respond(tab-port) {
      // height: 150%;
    }
  }
  &__channel {
    display: flex;
    align-items: center;

    .channel {
      &__logo {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
      }
      &__name {
        font-size: 2rem;
        padding-left: 1rem;
      }
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
  }

  &__description {
    font-size: 1.4rem;
    line-height: 1.6;
  }

}
