button {
  border: none;
  line-height: 1;
  margin: 1rem;
  font-size: 2rem;
}
.heading {
  margin-bottom: 2rem;
}
.button {
  padding: 1rem;
  height: auto !important;
  text-transform: uppercase;
  cursor: pointer;

  &--dark {
    background-color: rgba(17, 15, 16, 0.88) !important;
    color: #fff;
  }
}
