.container {
  padding: 2rem 0;
}
.section-content {

  &>* {
    margin-bottom: 2rem;
  }

}

.sidebar {
  position: relative;
}

.section-checkout {
  display: block;

  @include respond(phone) {
    form {
      display: none;
    }
  }
}

.section-customize {
  margin-bottom: 2rem;
}
