.container {
  padding: 2rem 0;
}
.section-content {
  height: 40rem;

  &>* {
    margin-bottom: 2rem;
  }

}

.sidebar {
  position: relative;
}

.section-checkout {
  display: block;
}

.section-customize {
  margin-bottom: 2rem;
}
